@model employe
<form method="post" action="/employee/saveedit/@Model.Id">
    <div>
        <label>employee name</label>
        <input type="text" name="Name" value="@Model.Name" class="form form-control"/>
    </div>
    <div>
        <label>employee adress</label>
        <input type="text" name="adreess" value="@Model.adreess" class="form form-control" />
    </div>
    <div>
        <label>employee salary</label>
        <input type="text" name="salary" value="@Model.salary" class="form form-control" />
    </div>
    <div>
        <label>employee department</label>
        @*<input type="text" name="dept_id" value="@Model.dept_id" class="form form-control" />*@
        <select name="dept_id" class="form form-control">
            @foreach (department dept in ViewBag.dept)
            {
                if (dept.Id == Model.dept_id)
                {
                    <option value="@dept.Id" selected >@dept.Name</option>
                }
                else
                {
                    <option value="@dept.Id" >@dept.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit" value="save" class="btn-success" />
</form>
